<div class="login-wrapper">
  
  <div class="panel login-panel">
    <div class="panel-header">
      <span>🔐 Autentificare - Somo</span>
    </div>

    <div class="panel-body">
      
      <div class="info-box">
        Introduceți credențialele pentru a accesa sistemul.
      </div>

      <div class="form-container">
        
        <div class="form-row">
          <label>Utilizator:</label>
          <div class="input-wrapper">
            <input type="text" placeholder="ex: andrei.motoc">
          </div>
        </div>

        <div class="form-row">
          <label>Parolă:</label>
          <div class="input-wrapper">
            <input type="password">
          </div>
        </div>

      </div>

      <div class="legal-text">
        Accesul neautorizat este interzis și se pedepsește conform legii. 
        Sistem monitorizat.
      </div>

    </div>

    <div class="panel-footer">
      <button routerLink="/search">✔ Conectare</button>
    </div>
  </div>

</div>