/* Containerul principal care ține tot ecranul */
.login-wrapper {
  background-color: #252C37; /* Un fundal albastru închis pentru desktop, ca în Windows */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Centrează orizontal */
  align-items: center;     /* Centrează vertical */
  font-family: 'Goga', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

/* Fereastra de login propriu-zisă */
.login-panel {
  width: 350px;
  background-color: #252C37; /* Albastru pal clasic */
  border: 1px solid #F8C61E;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Umbră să pară fereastră plutitoare */
}

/* Bara de titlu (Gradient) */
.panel-header {
  background: #F8C61E;
  border-bottom: 1px solid #F8C61E;
  padding: 6px 10px;
  text-align: center;
  color: #252C37;
  
  font-size: 16px;
}

.panel-body {
  padding: 15px;
}

/* Cutia galbenă de informare (opțional, arată pro) */
.info-box {
  background-color: #252C37;
  border: 1px solid #F8C61E;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  color: #F8C61E;
}

/* Alinierea inputurilor */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

label {
  width: 80px;
  text-align: right;
  padding-right: 10px;
  color: #F8C61E;
  font-weight: bold;
}

.input-wrapper {
  flex: 1;
}

input {
  width: 100%;
  border: 1px solid #F8C61E;
  padding: 3px;
  font-size: 14px;
  background: #252C37;
  /* Box-sizing e important ca padding-ul să nu strice lățimea */
  box-sizing: border-box; 
}

/*input:focus {
  background-color: #DEFCFF; /* Galben la focus */
  /*border-color: #fca103;
  outline: none;
/*


/* Textul mic de jos */
.legal-text {
  margin-top: 15px;
  font-size: 13px;
  color: #F8C61E;
  text-align: center;
  border-top: 1px solid #F8C61E;
  padding-top: 5px;
}

/* Bara de butoane */
.panel-footer {
  background-color: #252C37;
  padding: 8px;
  border-top: 1px solid #F8C61E;
  text-align: right; /* Butonul în dreapta */
}

button {
  cursor: pointer;
  background: #252C37;
  border: 1px solid #F8C61E;
  padding: 4px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  color: #F8C61E;
}

button:hover {
  background-color: #F8C61E;
  color: #252C37;
}