<div class="login-wrapper">
  
  <div class="panel login-panel">
    <div class="panel-header">
      <span><b>Login - Somo</b></span>
    </div>

    <div class="panel-body">
      
      <div class="info-box">
        Enter your credentials to access the system.
      </div>

      <div class="form-container">
        
        <div class="form-row">
          <label>User:</label>
          <div class="input-wrapper">
            <input type="text" placeholder="">
          </div>
        </div>

        <div class="form-row">
          <label>Password:</label>
          <div class="input-wrapper">
            <input type="password">
          </div>
        </div>

      </div>

      <div class="legal-text">
        Unauthorized access is prohibited and punished according to law. 
        System monitored.
      </div>

    </div>

    <div class="panel-footer">
      <button routerLink="/search">Connect</button>
    </div>
  </div>

</div>