.navbar {
  background: #252C37;
  border-bottom: 3px solid #F8C61E;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #F8C61E;
  font-weight: bold;
}

.brand {
  font-size: 26px;
  margin-right: 20px;
}

.spacer {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.app-container {
  padding: 10px;
  height: calc(100vh - 42px);
  background-color: #252C37;
  overflow-y: auto;
}