.navbar {
  background: var(--c-252c37);
  border-bottom: 3px solid var(--c-f8c61e);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: var(--c-f8c61e);
  font-weight: bold;
}

.brand {
  font-size: 26px;
  margin-right: 20px;
}

.spacer {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.app-container {
  padding: 10px;
  height: calc(100vh - 42px);
  background-color: var(--c-252c37);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .brand {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .brand {
    font-size: 18px;
  }

  .user-info {
    font-size: 12px;
  }
}