<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="homeLink" class="logo">
      <img src="assets/veterinary.png" alt="Somo" class="logo-icon" />
      <span>Somo</span>
    </a>
  </div>

  <div class="navbar-links">
    <ng-container *ngIf="authService.isOwner">
      <a routerLink="/home" routerLinkActive="active">Acasă</a>
      <a routerLink="/clinics" routerLinkActive="active">Cabinete</a>
      <a routerLink="/my-pets" routerLinkActive="active">Animalele mele</a>
    </ng-container>
  </div>

  <div class="navbar-user" *ngIf="authService.isLoggedIn">
    <a *ngIf="canEditProfile" routerLink="/profile" routerLinkActive="active" class="username username-link"
       title="Vezi și actualizează datele contului">
      <img *ngIf="authService.currentUser?.profilePhotoUrl as photo" [src]="photo" alt="" class="user-avatar" />
      <span *ngIf="!authService.currentUser?.profilePhotoUrl" class="user-avatar user-avatar-initials">{{ initials }}</span>
      <span>{{ authService.displayName }}</span>
    </a>
    <span class="username" *ngIf="!canEditProfile">{{ authService.displayName }}</span>
    <button (click)="logout()" class="logout-button">Ieși din cont</button>
  </div>

  <div class="navbar-auth" *ngIf="!authService.isLoggedIn">
    <a routerLink="/login" class="auth-login">Autentificare</a>
    <a routerLink="/register" class="auth-register">Creează cont</a>
  </div>

  <div class="hamburger-menu">
    <button class="hamburger-button" (click)="toggleMenu()">
      <span class="hamburger-icon">&#9776;</span>
    </button>
  </div>
</nav>

<div class="mobile-menu" [class.open]="isMenuOpen">
  <div class="mobile-menu-header">
    <span class="logo">
      <img src="assets/veterinary.png" alt="" class="logo-icon" />
      <span>Somo</span>
    </span>
    <button class="close-button" (click)="toggleMenu()">&times;</button>
  </div>
  <div class="mobile-menu-links">
    <ng-container *ngIf="authService.isOwner">
      <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Acasă</a>
      <a routerLink="/clinics" routerLinkActive="active" (click)="closeMenu()">Cabinete</a>
      <a routerLink="/my-pets" routerLinkActive="active" (click)="closeMenu()">Animalele mele</a>
    </ng-container>

    <a *ngIf="canEditProfile" routerLink="/profile" routerLinkActive="active" (click)="closeMenu()">Contul meu</a>

    <button *ngIf="authService.isLoggedIn" (click)="logout()" class="logout-button-mobile">Ieși din cont</button>

    <ng-container *ngIf="!authService.isLoggedIn">
      <a routerLink="/login" class="auth-login-mobile" (click)="closeMenu()">Autentificare</a>
      <a routerLink="/register" class="auth-register-mobile" (click)="closeMenu()">Creează cont</a>
    </ng-container>
  </div>
</div>
