/* Container general */
.main-container {
  font-size: 16px; /* Font mic ca în aplicațiile vechi */
  background-color: #252C37;
  padding: 5px;
  min-height: 100vh;
}

/* Stilul Panel-ului (Chenarul) */
.panel {
  border: 1px solid #F8C61E;
  background-color: #252C37;
  margin-bottom: 5px;
}

/* Bara albastră de sus (Header) */
.panel-header {
  background-color: #252C37;
  border-bottom: 1px solid #F8C61E;
  padding: 4px 8px;
  color: #F8C61E;
  display: flex;
  justify-content: center;
}

.panel-body {
  padding: 8px;
  background-color: #252C37; /* Background per project */
}

/* Grid-ul pentru input-uri */
.form-row {
  display: flex;
  gap: 15px; /* Spațiu între coloane */
  margin-bottom: 4px;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center; /* Aliniază eticheta cu inputul */
  width: 100%;

}

label {
  white-space: nowrap;
  margin-right: 5px;
  color: #F8C61E;
  min-width: 60px; /* Aliniere etichete */
  text-align: right;
}

/* Stilul input-urilor clasice */
input[type="text"],
input[type="date"],
select {
  width: 100%;
  border: 2px solid #F8C61E;
  padding: 1px 2px;
  font-size: 16px;
  height: 20px;
  background-color: #252C37;
}

input:focus, select:focus {
  background-color: #252C37; /* Se face galben când scrii */
  border: 2px solid #F8C61E;
  color: #F8C61E;
  outline: none;
}

/* Checkbox specific */
.checkbox-group label {
  text-align: left;
  min-width: auto;
}

/* Bara de butoane de jos */
.toolbar {
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid #F8C61E;
  padding-top: 10px;
}

.toolbar {
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid #F8C61E;
  padding-top: 10px;
}

button {
  cursor: pointer;
  background: #F8C61E;
  border: 1px solid #F8C61E;
  color: #252C37;
  padding: 2px 10px;
  margin: 0 2px;
  font-size: 16px;
  border-radius: 2px;
}

button:hover {
  background-color: #252C37;
  color: #F8C61E;
}